DELINKIFY_UID=1000
DELINKIFY_GID=1000

### YOU MUST FILL THIS VARIABLE ##################
DELINKIFY_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN_HERE"
##################################################

### YOU MUST FILL THIS VARIABLE #######
DELINKIFY_DUMP_CHAT_ID="A_CHAT_ID_HERE"
#######################################

DELINKIFY_ERRORS_CHAT_ID=""

DELINKIFY_LOG_LEVEL="TRACE"
DELINKIFY_LOG_PATH="./logs"

DELINKIFY_CACHE_SAVE_INTERVAL=60
DELINKIFY_CACHE_PATH="./cache"
DELINKIFY_MEDIA_PATH="./media"
DELINKIFY_COOKIE_PATH="./cookies"
